Repository shyndman/music-assistant-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: ./run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: ./run-in-env.sh ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: ./run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: ./run-in-env.sh check-docstring-first

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: ./run-in-env.sh check-toml

mypy:
  name: mypy
  entry: ./run-in-env.sh mypy
  language: script
  require_serial: true
  pass_filenames: false

Chore: cleanup and CI setup
  .github/workflows/.release-please-config.json
  .github/workflows/release-please.yml
  .pre-commit-config.yaml
  music_assistant_client/connection.py
  music_assistant_client/music.py
  pyproject.toml
  scripts/__init__.py
  scripts/example.py
  scripts/run-in-env.sh
  scripts/setup.sh
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy

Chrore: update pre-commit config
  .pre-commit-config.yaml
Due: none

chore(main): release 1.0.1 (#2)
  CHANGELOG.md
Due: none

Chore: Correct name in manifest
  pyproject.toml
Due: check-toml

Feat: Implement missing player methods
  music_assistant_client/client.py
  music_assistant_client/players.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

chore(main): release 1.0.2 (#4)
  CHANGELOG.md
Due: none

Fix: function names had wrong names
  music_assistant_client/players.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

chore(main): release 1.0.3 (#5)
  CHANGELOG.md
Due: none

Feat: Add missing helper functions
  music_assistant_client/helpers.py
  music_assistant_client/music.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy

chore(main): release 1.0.4 (#6)
  CHANGELOG.md
Due: none

Fix: json helpers missing
  music_assistant_client/connection.py
  music_assistant_client/helpers.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy

Fix: Bump models to 1.0.3 to fix some import issues
  pyproject.toml
Due: check-toml

chore(main): release 1.0.5 (#7)
  CHANGELOG.md
Due: none

Fix: search issue with integration passing MediaType.UNKNOWN (#11)
  music_assistant_client/music.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

chore(main): release 1.0.6 (#12)
  CHANGELOG.md
Due: none

Feat: Bump models to 1.1.2
  music_assistant_client/players.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy

chore(main): release 1.0.7 (#16)
  CHANGELOG.md
Due: none

Require aiohttp>=3.8.6 (#33)
  pyproject.toml
Due: check-toml

rename PlaylistTrack
  music_assistant_client/client.py
  music_assistant_client/music.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

Add podcasts and audiobooks
  music_assistant_client/music.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

Add select source to player commands
  music_assistant_client/players.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

lint
  music_assistant_client/helpers.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy

Move py.typed to correct location
  music_assistant_client/py.typed
  py.typed
Due: none

linter fixes
  music_assistant_client/config.py
  music_assistant_client/connection.py
  music_assistant_client/music.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

bump models to 1.1.43
  pyproject.toml
Due: check-toml

Enhancement: Add missing recommendations function
  music_assistant_client/music.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

Add helper method to add current playing track to favorites
  music_assistant_client/players.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

Add python 3.13 to pyproject
  pyproject.toml
Due: check-toml

Update README.md
  README.md
Due: none

Delete .github/.DS_Store
  .github/.DS_Store
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Add extensive logging to the client
  music_assistant_client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy

Add an envrc to make my life a little easier
  .envrc
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  mypy: any of: \.py$
